<div class="container" id="contato">
    <div class="row">

      <div class="col-md-6 col-12 conteudo-contato">
        <h1>Contato</h1>
        <p>Adoraria saber mais sobre seus projetos e como posso te ajudar. <br>
            Por favor preencha o formulário e entrarei em contato com você o mais breve possível.   
        </p>
      </div>

       <div class="col-md-6 col-12">
            <form [formGroup]="contatoFormulario" (ngSubmit)="onSubmit()">
                <div class="form-nome">
                    <label for="nome">Nome</label>
                    <input type="text" id="nome" class="nome" formControlName="nome">
                </div>

                <div class="form-email">
                    <label for="email">Email</label>
                    <input type="text" id="email" class="email" formControlName="email">
                </div>

                <div class="form-mensagem">
                    <label for="mensagem">Mensagem</label>
                    <textarea name="mensagem" id="mensagem" cols="30" rows="10" formControlName="mensagem"></textarea>
                </div>
                <button type="submit" [disabled]="isLoading" class="btn btn-outline-dark botao-envio">Enviar</button>

                <!-- Carregamento até o e-mail ser enviado -->
                <div *ngIf="isLoading" class="loading">
                    <div class="icone-carregando"></div>
                    <p>Carregando...</p>
                </div>
            </form>
      </div>
    </div>
</div>

<div class="separacao-introducao">
    <hr>
</div>

<!-- <button type="button" (click)="teste()">Enviar</button> -->
<!-- <button (click)="onSubmit()">Enviar</button> -->
