<div class="container">
    <div class="row">
      <div class="col-md-6 introducao-container">
        <p class="introducao-inicial-1">Prazer em conhecer você!</p>
        <p class="introducao-inicial-2">Eu me chamo 
          <span class="sublinhar-nome">Delcleciano Júnior</span>
        </p>
        <p class="introducao-sobre">
            Sou graduado em Engenharia da Computação pela Universidade Estadual de Minas Gerais (UEMG). Já atuei como desenvolvedor Full Stack e tive a oportunidade de desenvolver projetos tanto na área de Front-End quanto Back-End, utilizando tecnologias de ambas as áreas.
            Tenho experiência em tecnologias Front-End, como Angular, React, TypeScript, JavaScript, HTML, CSS e Bootstrap. No Back-End, possuo conhecimento em C#, .NET, ASP.NET Clássico e Java. Sou apaixonado pela área de tecnologia e constantemente crio projetos, 
            grandes e pequenos, para aprimorar meus conhecimentos.
            Minha experiência com tecnologias de Front-End e Back-End reforça meu objetivo de me tornar um desenvolvedor Full Stack Senior, um grande sonho meu. Estou sempre em busca de novos desafios e procuro aprender continuamente para me destacar no mercado de TI.
        </p>
      </div>
      <div class="col-md-6">
        <div class="introducao-2">
          <img src="imagens/foto-perfil-web.jpg" alt="imagem-perfil" class="rotacao-imagem">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="introducao-contato">
          <span class="sublinhar-nome" (click)="vaiProComponenteContato()">Entre em contato</span>
        </div>
      </div>
    </div>
</div>

<div class="separacao-introducao">
  <hr>
</div>