<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="introducao-2">
        <div class="foto-blob"></div>
        <img src="imagens/foto-perfil-web.jpg" alt="imagem-perfil" class="rotacao-imagem">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 introducao-container">
      <span class="introducao-eyebrow">Olá, seja bem-vindo(a) 👋</span>
      <p class="introducao-inicial-1">Prazer em conhecer você!</p>
      <p class="introducao-inicial-2">Eu me chamo 
        <span class="sublinhar-nome">Delcleciano Júnior</span>
      </p>
      <p class="introducao-sobre">
          Sou graduado em Engenharia da Computação pela Universidade Estadual de Minas Gerais (UEMG). Já atuei como desenvolvedor Full Stack e tive a oportunidade de desenvolver projetos tanto na área de Front-End quanto Back-End, utilizando tecnologias de ambas as áreas.
          Tenho experiência em tecnologias Front-End, como Angular, React, TypeScript, JavaScript, HTML, CSS e Bootstrap. No Back-End, possuo conhecimento em C#, .NET, ASP.NET Clássico, Python, Entity Framework, Java e Spring Boot. Sou apaixonado pela área de tecnologia e constantemente crio projetos para aprimorar meus conhecimentos.
          Minha experiência com tecnologias de Front-End e Back-End reforça meu objetivo de me tornar um desenvolvedor Full Stack Sênior, um sonho que sempre almejei. Estou sempre em busca de novos desafios, e procuro aprender continuamente para ganhar destaque no mercado de TI.
      </p>
      <a class="btn-contato" href="mailto:delclecianobj@hotmail.com" aria-label="Enviar e-mail para Delcleciano">
        Entre em contato 📧
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="stats-faixa">
        <div class="stat-item">
          <span class="stat-numero">4+</span>
          <span class="stat-label">anos em Front-End</span>
        </div>
        <div class="stat-divisor"></div>
        <div class="stat-item">
          <span class="stat-numero">10+</span>
          <span class="stat-label">projetos no GitHub</span>
        </div>
        <div class="stat-divisor"></div>
        <div class="stat-item">
          <span class="stat-numero">Full Stack</span>
          <span class="stat-label">Front-End & Back-End</span>
        </div>
        <div class="stat-divisor"></div>
        <div class="stat-item">
          <span class="stat-numero">UEMG</span>
          <span class="stat-label">Eng. da Computação</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="separacao-introducao">
  <hr>
</div>