<div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="nome-portfolio">Delcleciano</p>
      </div>
      <div class="col-md-6">
        <ul class="redes-sociais-cabecalho">
          <li><a href="https://github.com/DelclecianoSuporte?tab=repositories" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a></li>
          <li><a href="https://www.linkedin.com/in/delcleciano-j%C3%BAnior-173297149/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a></li>
          <li><a href="https://www.facebook.com/delcleciano.juniors" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook"></i></a></li>
        </ul>
      </div>
    </div>
</div>