<div class="container">
    <div class="row titulo-stack">
        <div class="col-md-12">
            <h1>Stacks</h1>
        </div>
    </div>
    
    <div class="row mb-3">
      <div class="col-md-4 col-4 tec">
        <p>HTML</p>
        <span>4 anos de experiência</span>
      </div>
      <div class="col-md-4 col-4 tec">
        <p>CSS</p>
        <span>4 anos de experiência</span>
      </div>
      <div class="col-md-4 col-4 tec">
        <p>Javascript</p>
        <span>4 anos de experiência</span>
      </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-4 col-4 tec">
            <p>TypeScript</p>
            <span>1 ano de experiência</span>
        </div>
        <div class="col-md-4 col-4 tec">
            <p>Angular</p>
            <span>1 ano de experiência</span>
        </div>
        <div class="col-md-4 col-4 tec">
            <p>React</p>
            <span>1 ano de experiência</span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-4 col-4 tec">
            <p>C#</p>
            <span>1 ano de experiência</span>
        </div>
        <div class="col-md-4 col-4 col-4 tec">
            <p>.Net</p>
            <span>1 ano de experiência</span>
        </div>
        <div class="col-md-4 col-4 tec">
            <p>Java</p>
            <span>3 anos de experiência</span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-4 col-4 tec">
            <p>Jquery</p>
            <span>3 anos de experiência</span>
        </div>
        <div class="col-md-4 col-4 tec">
            <p>Bootstrap</p>
            <span>3 anos de experiência</span>
        </div>
        <div class="col-md-4 col-4 tec">
            <p>Rest</p>
            <span>3 anos de experiência</span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-4 col-4 tec">
            <p>Node</p>
            <span>1 ano de experiência</span>
        </div>
        <div class="col-md-4 col-4 tec">
            <p>Soap</p>
            <span>3 anos de experiência</span>
        </div>
        <div class="col-md-4 col-4 tec">
            <p>Fluig</p>
            <span>2 anos de experiência</span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-4 col-4 tec">
            <p>SQL Server</p>
            <span>1 ano de experiência</span>
        </div>
        <div class="col-md-4 col-4 tec">
            <p>Mysql</p>
            <span>1 ano de experiência</span>
        </div>
        <div class="col-md-4 col-4 tec">
            <p>Git</p>
            <span>2 anos de experiência</span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-4 col-4 tec">
            <p>PHP</p>
            <span>1 ano de experiência</span>
        </div>
        <div class="col-md-4 col-4 tec">
            <p>Tailwind</p>
            <span>3 meses de experiência</span>
        </div>
        <div class="col-md-4 col-4 tec">
            <p>Entity</p>
            <span>1 ano de experiência</span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-4 col-4 tec">
            <p>Protheus ERP</p>
            <span>3 meses de experiência</span>
        </div>
        <div class="col-md-4 col-4 tec">
            <p>Consinco ERP</p>
            <span>2 anos de experiência</span>
        </div>
        <div class="col-md-4 col-4 tec">
            <p>Kubernets</p>
            <span>Aprendendo no momento</span>
        </div>
    </div>
</div>

<div class="separacao-introducao">
    <hr>
</div>
