<div class="container">
    <div class="row">
      
     <div class="col-md-10 col-12">
        <h1 class="titulo-projeto">Projetos</h1>
      </div>

      <div class="col-md-2 col-12">
        <div class="siga-contato">
            <span class="sublinhar-nome" (click)="vaiProComponenteContato()">Entre em contato</span>
        </div>
      </div>
    </div>

    <div class="row espacamento-entre-rows">
        <div class="col-md-6 col-12">
            <div class="card">
                <img src="imagens/pokedex.jpg" alt="Imagem-Projeto-1" class="cad-img-top imagem-quadrada">
                <div class="card-body body-personalizado">
                    <h3 class="texto-personalizado">Pokedex Pokémons</h3>
                    <ul class="ul-personalizado">
                      <li class="li-personalizado">HTML</li> 
                      <li class="li-personalizado">CSS</li>
                      <li class="li-personalizado">Angular</li> 
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-12">
            <div class="card">
                <img src="imagens/Prime-Flix.jpg" alt="Imagem-Projeto-2" class="cad-img-top imagem-quadrada">
                <div class="card-body body-personalizado">
                    <h3 class="texto-personalizado">Prime Flix</h3>
                    <ul class="ul-personalizado">
                      <li class="li-personalizado">HTML</li> 
                      <li class="li-personalizado">CSS</li>
                      <li class="li-personalizado">React</li> 
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row espacamento-entre-rows">
        <div class="col-md-6 col-12">
            <div class="card">
                <img src="imagens/ApiDenuncia.jpg" alt="Imagem-Projeto-3" class="cad-img-top imagem-quadrada">
                <div class="card-body body-personalizado">
                    <h3 class="texto-personalizado">Api Denúncia</h3>
                    <ul class="ul-personalizado">
                      <li class="li-personalizado">C#</li> 
                      <li class="li-personalizado">.Net</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-12">
            <div class="card">
                <img src="imagens/Canal-Denuncia.jpg" alt="Imagem-Projeto-4" class="cad-img-top imagem-quadrada">
                <div class="card-body body-personalizado">
                    <h3 class="texto-personalizado">Canal de Denúncia</h3>
                    <ul class="ul-personalizado">
                      <li class="li-personalizado">HTML</li> 
                      <li class="li-personalizado">CSS</li>
                      <li class="li-personalizado">JavaScript</li> 
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row espacamento-entre-rows">
        <div class="col-md-6 col-12">
            <div class="card">
                <img src="imagens/Sistema-Cadastro.jpg" alt="Imagem-Projeto-5" class="cad-img-top imagem-quadrada">
                <div class="card-body body-personalizado">
                    <h3 class="texto-personalizado">Sistema de Cadastro</h3>
                    <ul class="ul-personalizado">
                      <li class="li-personalizado">HTML</li> 
                      <li class="li-personalizado">Angular</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-12">
            <div class="card">
                <img src="imagens/Portfolio.jpg" alt="Imagem-Projeto-6" class="cad-img-top imagem-quadrada">
                <div class="card-body body-personalizado">
                    <h3 class="texto-personalizado">Portfolio</h3>
                    <ul class="ul-personalizado">
                      <li class="li-personalizado">HTML</li> 
                      <li class="li-personalizado">CSS</li>
                      <li class="li-personalizado">Angular</li> 
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="separacao-introducao">
    <hr>
</div>
