<div class="container" id="projetos">
    <div class="row">
      
     <div class="col-md-10 col-12">
        <h1 class="titulo-projeto">Projetos</h1>
      </div>
    </div>

    <div class="row espacamento-entre-rows">
        <div class="col-md-6 col-12" *ngFor="let projeto of projetos">
            <a [href]="projeto.link" target="_blank" style="text-decoration: none; color: inherit;">
                <div class="card">
                    <img [src]="projeto.imagem" [alt]="'Imagem de ' + projeto.titulo" class="cad-img-top imagem-quadrada">
                    <div class="card-body body-personalizado">
                        <h3 class="texto-personalizado">{{ projeto.titulo }}</h3>
                        <ul class="ul-personalizado">
                        <li class="li-personalizado" *ngFor="let tec of projeto.tecnologias">{{ tec }}</li>
                        </ul>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="separacao-introducao">
    <hr>
</div>
